
$fallback-fontstack	:	-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
$primary-fontstack	:	"Inter", "Inter UI", $fallback-fontstack !default;

$txt-color	:	#434343		!default;
$bg-color	:	#ffffff		!default;
$bg-color--alt	:	ghostwhite	!default;

$txt-color	:	whitesmoke;
$bg-color	:	#111;
$bg-color--alt	:	#000;

$_color-indigo	:	#611fff;
$_color-violet	:	#845ef7;
$_color-red	:	#ff6b6b;
$_color-green	:	#51cf66;
$_color-orange	:	#ff922b;
$_color-gray8	:	#343a40;

$primary-color	:	$_color-indigo	!default;
$secondary-color	:	$_color-gray8	!default;
$success-color		:	$_color_green	!default;
$warning-color		:	$_color_orange	!default;
$danger-color		:	$_color-red	!default;
$base-fontsize		:	3em		!default;
$transition		:	all 120ms ease-out	!default;


@mixin hide-visually($toggle:"hide") {
	@if not index("hide" "unhide", $toggle) {
		@error "`#{$toggle}` is not a valid value for the `$toggle` argument in" + "the `hide-visually` mixin. Must be either `hide` or `unhide`.";
	} @else if $toggle == "hide" {
		border: 0;
		clip: rect(0, 0, 0, 0);
		clip-path: inset(100%);
		height: 1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	} @else if$toggle == "unhide" {
		clip: auto;
		clip-path: none;
		height: auto;
		overflow: visible;
		position: static;
		white-space: inherit;
		width: auto;
	}
}

:root {
	--fallback-fontstack	:	-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
	--primary-fontstack	:	"Inter", $fallback-fontstack !default;

	--txt-color		:	#434343;
	--bg-color		:	#ffffff;
	--bg-color--alt		:	ghostwhite;

	--color-indigo		:	#617ef2;
	--color-violet		:	#845ef7;
	--color-red		:	#ff6b6b;
	--color-green		:	#51cf66;
	--color-orange		:	#ff922b;
	--color-gray8		:	#343a40;

	--primary-color			:	var(--color-indigo);
	--secondary-color		:	var(--color-gray8);
	--success-color			:	var(--color-green);
	--warning-color			:	var(--color-orange);
	--danger-color			:	var(--color-red);

	--base-fontsize			:	6em;
	--transition			:	all 120ms ease-out;
}

html { box-sizing: border-box !important; }
*,*::before, *::after { box-sizing: inherit !important; }

html {
	font-size-adjust: 100%;
	font-size: var(--var-fontsize);
}
