html, body {
	margin: 0;
	padding: 0;
}

body {
	height: 95vh;
	width: 95vw;
}

. {
	box-sizing: border-box;
}

.wrapper {
	position: relative;
	width: 95%;
	max-width: 960px;
	margin: 0 auto;
	margin-top: 2%;
	padding: 5px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(9, minmax(100px, auto));
	grid-template-rows: repeat(9, minmax(100px, auto));
	padding: 10px;
	gap: 10px;
	margin: 10px;
	justify-items: center;
	align-items: center;
	border-radius: 5px;
	border: 1px solid green;
}

.grid-sub-a {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: repeat(3, minmax(50px, auto));
	padding: 10px;
	margin: 10px;
	gap: 10px;
	justify-items: center;
	align-items: center;

	border: 1px solid red;
}

.grid-sub-b {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: repeat(3, minmax(50px, auto));
	padding: 10px;
	margin: 10px;
	gap: 10px;
	justify-items: center;
	align-items: center;
	border: 1px solid red;
}

.grid-sub-c {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: repeat(3, minmax(50px, auto));
	padding: 10px;
	margin: 10px;
	gap: 10px;
	justify-items: center;
	align-items: center;
	border: 1px solid red;
}

.grid-item {
	text-align: center;
}

#footer {
	width: 100%;
}

.grid-container {
	display: grid;
}

.grid-item {}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
	/* Medium devices (tablets, 768px and up) */
}

@media (min-width: 768px) {
	/* Medium devices (tablets, 768px and up) */
	#wrapper {
		width: 90%;
		margin: 0 auto;
	}

	#content {
		width: 70%;
		float: left;
	}

	#sidebar {
		width: 30%;
		float: right;
	}
}

@media (min-width: 992px) {
	/* between tablets and and large screens */
}

@media (min-width: 1200px) {
	/* between tablets and and large screens */
	#wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

