/* assumes watching on phone first */
/* * {
	border: 2px solid red;
}*/

.page-container {
	margin-top: 15%;
}

.status-wrapper {
	grid-auto-rows: auto;
	border: 2px solid red;
}

.seconds-wrapper {
	grid-auto-rows: 30px;
	border: 2px solid red;
}

.minutes-wrapper {
	grid-auto-rows: auto;
	border: 2px solid red;
}

.center {
	text-align: center;
}

/* Reserved CSS */
/*
.page-container {
	margin-top: 25%;
	border: 1px solid red;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
*/
