/* assumes watching on phone first */
/* * {
	border: 2px solid red;
}*/

.page-container {
	margin-top: 15%;
}

.grid-status {
	grid-area: status;
	align-self: center;
}

.timer-item {
	grid-area: timer;
	align-self: center;
}

.grid-container {
	display: grid;
	grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
	grid-template-columns: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
	grid-auto-rows: 60px;
	column-gap: 20px;
	row-gap: 20px;
	border: 1px solid gray;
}

.grid-item {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid red;
}

.grid-container {
	background-color: #fff;
	border: 1px solid #666;
	padding: 20px;
}

.grid-item {
	background-color: #dce0dd;
	border: 1px solid #666;
}

.status-item {
	grid-column-start: 2;
	grid-column-end: five;
	grid-row-start: row1-start;
	grid-row-end: 2;
}

#status-state {
	font-family: "Monaco", "Courier New", "Lucida Console", Monospace;
}

#sec-counter > h4 {
	font-weight: 500;
}

/* Reserved CSS */
/*
.page-container {
	margin-top: 25%;
	border: 1px solid red;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
*/
